site_name: chevallier.dev
site_description: Blog of the Chevallier family, currently mainly used by Pierre Chevallier
site_url: http://www.chevallier.dev

nav:
  - Home: index.md
  - Blog:
     - blog/index.md

theme:
  name: material
  logo: assets/castle.svg
  favicon: assets/castle.svg
  features:
    - navigation.indexes
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.tracking
    - navigation.sections
    - navigation.expand
    - navigation.path
    - navigation.instant
    - navigation.instant.prefetch
    - toc.integrate
    - toc.follow

  language: en

  palette:

    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/lightbulb 
        name: Switch to dark mode
      primary: white
      accent: blue

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode
      primary: black
      accent: blue


plugins:
  - search
  - meta
  - tags
  - social
  - blog:
      blog_dir: blog
      blog_toc: true
      archive_toc: true
      pagination_per_page: 4

extra:
  social:
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/pierrechevallier
    - icon: fontawesome/brands/github
      link: https://github.com/pierrechevallier

markdown_extensions:
  - toc:
      permalink: true
      toc_depth: 3

nav:
  - Home: index.md
  - Blog:
      - blog/index.md
  - Judo: judo/index.md
  - About: about.md
